ul{list-style: none; padding:0px; padding:0px;}
.catNav{height:35px; line-height: 35px;}
.catNav span{color:#ee0000; font-size:16px;font-weight:bolder; font-family:'微软雅黑'}
.catNav a{font-size:13px; color:#336fd2;}



.catList table thead{background:#f9fafc; border:1px solid #e1e6e9; line-height: 35px;}
.catList table thead tr th{ padding:0 10px;}
.catList table thead tr th input{float:left; margin-top:12px; margin-right:5px;}
.catList table thead tr th label{float:left; margin-top:2px; font-weight: bolder}
.catList table tbody tr td{ border-bottom:2px solid #d9dde0; padding:10px;}
.catList .nothing{width:500px; margin:0 auto; padding:50px 0 50px 100px;}

.catList .goodsBox{overflow: hidden;}
.catList .goodsBox span{float:left;width:78px; height:78px; background:#fff; border:1px solid #eef3f6;}
.catList .goodsBox p{float:left; height:78px; margin:0px; line-height: 78px; margin-left:15px;}
.catList .numBox{border:1px solid #d9d9d9; border-right:none;overflow:hidden; width:102px;}
.catList .numBox input{float:left; width:25px; background:#fff; border:none; border-right:1px solid #d9d9d9;}
.catList .numBox .numInput{width:50px; text-align:center;}


.allAttr{border:1px solid #e1e6e9; overflow: hidden; margin-top:15px; margin-bottom:200px; padding:0 0 0 10px;}
.allAttr ul li{float:left; line-height: 55px; height: 55px;} 
.allAttr ul .clecboxAll input{float:left; margin-top:23px; margin-right:5px;}
.allAttr ul .clecboxAll label{float:left; margin-top:2px;}
.allAttr ul .delAll{width:100px; text-align:right;}
.allAttr ul .goodsNum{width:600px; text-align:right; color:#999;}
.allAttr ul .goodsNum span{color:#f00;}
.allAttr ul .goodsPrice{width:250px; text-align:right; color:#999;}
.allAttr ul .goodsPrice span{ color:#f00;font-size: 16px; font-weight: bolder;}
.allAttr ul .inOrder{width:120px; background: #f00; text-align:center; float:right;}
.allAttr ul .inOrder a{display: block; color:#fff; font-weight: bolder; font-size:16px;}


.success{border-top:2px solid #d1d4e2; background:#f8f9fd; padding:70px 20px 80px 150px; margin-top:30px; overflow: hidden;}
.success dl dd{float:left; margin-right:20px;}
.success .successIcon{color:#84be48;}
.success .successP{font-size:20px; color:#84be48; font-weight: bolder;}
.success .successNum{font-size:16px; color:#333;}
.success .successAttr{margin-top:20px;}
.success .successAttr a{display:inline-block; background:#f3f3f3; border:1px solid #e1e1e1; font-size:13px; color:#333; border-radius:4px; width:94px; height:28px; text-align: center; line-height: 28px; margin-right:15px;}

.success .tips{border:1px solid #e1e1e1; overflow: hidden; margin-top:20px; background:#fafbff; color:#ff7007; font-size:13px; padding:10px; line-height: 25px; width:520px;}
.success .tips span{float:left;}
.success .tips p{float:left; width:480px; margin-left:10px; margin-bottom:0px;}
.success .ewmBox{width:168px; height:168px; background:#fff; padding:12px; margin-left:140px;}
.success img{width:168px; height:168px; background: #f00;}







