ul{margin:0px; padding:0px; list-style: none;}
.navTitle{height:36px; background:#3874ce; color:#fff;}
.navTitle h3{font-size:16px; margin:0 0 0 20px; height:36px; line-height:40px; padding:0px;}
.navTitle a{font-size:14px; color:#fff; margin:0 20px 0 0; height:36px; line-height:40px; padding:0px;}
.navTitle a span{display: inline-block; width:15px; font-size:14px; margin-right:10px; height:15px; border-radius: 10px; background: #fff; color:#3874ce; font-weight: 800; line-height:14px; text-align: center;}

/*进度条*/
.speedBox{border:1px solid #e5eaf2; padding:20px 0 18px;}
.speed{ margin:0 auto;}


.orderTitle .titleBox{height:37px; line-height:35px; overflow: hidden;background:#f3f4f8; border:1px solid #e5eaf2; color:#666; border-top:none;}
.orderTitle .titleBox ul li{height:35px; line-height:35px; font-size:14px; float:left; font-weight: 800;}
.orderTitle .titleBox ul li h3{float:left; font-size:16px; text-align: right; line-height: 37px; height: 35px; padding:0px; margin:0px 0 0 20px;}
.orderTitle .titleBox ul li p{float:left; width:300px; line-height: 35px; margin:0px; padding:0px;}

/*会议信息*/
.meetingNews,.userNews,.orderLine,.goodsNews{overflow: hidden; padding:28px 30px;border:1px solid #e5eaf2; border-top:none;}
.meetingNews h3{ color:#000033; font-size:16px;}
.meetingList .leftList{width:40%; float:left; margin-right:80px; border-right:1px solid #e5eaf2}
.meetingList .rightList{float:left;}
.meetingList .leftList li,.meetingList .rightList li{height: 37px;}
.meetingList .leftList li h3,.meetingList .rightList li h3{width:95px; text-align: right; font-size:13px; color:#999; float:left; margin:0 10px 0 0; line-height: 35px;}
.meetingList .leftList li p,.meetingList .rightList li p{float:left; width:310px; font-size:13px;color:#666; line-height: 35px; margin:0px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis} 

/*收货信息*/
.userNews table td{width:350px;border:1px solid #e5eaf2; vertical-align: top;}
.userNews table td ul{padding:20px 28px;}
.userNews table td ul li{height:37px;}
.userNews table td ul li h4{height:35px; margin:0px; padding:0px; line-height: 35px; width:100px; float:left;}
.userNews table td ul li p{margin:0px; line-height: 35px;}

/*定单追踪*/
.orderLine ul li{line-height:35px; overflow: hidden;}
.orderLine ul li span{line-height:35px; display: block; width:80px; float:left;}
.orderLine ul li p{line-height:35px; float:left; width:900px; margin:0px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}

/*商品信息*/
.tablist table{width:100%; line-height: 35px;}
.tablist table th{background: #f3f4f8; text-align: center;}
.tablist table td{border:1px solid #e5eaf2; text-align: center;}
.ordernews{margin-top:30px; font-size:13px; color:#999999;}
.orderContent{border:1px solid #e5eaf2; background:#fbfcff; padding:10px; line-height:35px}

/*总价*/
.allPrice{text-align: right; padding:20px;}
.priceTitle{font-size:13px; color:#666; margin-right:15px; font-weight: bolder;}
.allPrice .price{font-size:20px; color:#f62134; font-weight: bolder;}
.newTitle{border-bottom:1px solid #e5eaf2; color:#666666; font-size:16px; line-height: 35px;}
.newsBox{background:#f3f4f8;border:1px solid #e5eaf2; border-bottom:2px solid #e5eaf2; border-top:none; padding:28px;}
.companyNews{overflow: hidden;}
.companyNews .nTitle,.address .aTitle,.ingoods .inTitle{font-size:16px; color:#333; font-weight:800;}
.companyNews .nLeft{float:left; width:47%; border-right:1px solid #e5eaf2; margin-right:60px;}
.companyNews .nRight{float:left; width:47%;}
.companyNews ul li,.address ul li{height: 35px; margin-top:20px;}
.companyNews ul li h2,.address ul li h2{font-size:13px; color:#999999; float:left; line-height: 35px; margin:0px 10px 0 0; padding:0px; width:100px; text-align:right;}
.companyNews ul li p,.address ul li p{width:340px; float:left; line-height: 35px;}
.companyNews ul li p input,.address ul li p input{width:340px; background: #fff; border:none; height:35px;}	
.ingoods ul li{overflow: hidden;}
.ingoods ul li h2{font-size:13px; margin:0px 15px 0 0; color:#999999; float:left; line-height: 35px;}
.ingoods ul li p{font-size:13px; margin:0px; color:#666; float:left; line-height: 35px;}
.ingoods ul li table{width:100%;}
.ingoods ul li table tr th{background:#e5eaf2; line-height: 35px; text-align:center}
.ingoods ul li table tr td{border:1px solid #e5eaf2; line-height: 35px; text-align:center}
.ingoods ul li textarea{width:100%; height: 100px; border:1px solid #e5eaf2;}
.ingoods .wpNews{margin-left:20px;margin:20px; overflow: hidden;}
.ingoods .wpNews span{display:block; width:58px; height:58px; border:1px solid #f5f5f5; background: #f00; float:left;}
.ingoods .wpNews p{ float:left; font-size:13px; color:#666; line-height:58px;margin-left:15px;}
.paymentnews h2{font-size:16px; color:#333; font-weight:800;}
.paymentnews ul li{text-align:right; line-height:35px;}
.paymentnews ul li span{margin-left:36px; color:#666; font-size:14px;}
.paymentnews ul li span i{margin-right:5px;}
.carPrice{text-align:right; line-height: 50px; color:#666; font-size:13px; padding-right:30px;}
.carPrice span{font-size:20px; color:#f62134; font-weight: 500; margin-left:30px;}
.arrBtn{text-align:right;}
.arrBtn .submitBtn{background:#f62134; color:#fff; margin-left:15px; font-size:16px; border:none; border-radius:4px; width:129px; height:38px;}
.arrBtn .cancelBtn{background:#d0d4da; color:#fff; margin-left:15px; font-size:16px; border:none; border-radius:4px; width:129px; height:38px;}



