@charset "UTF-8";

/**
 * 
 * @title 
 * @authors goodliang
 * @date 2016-05-18 13:51:39
 * 
 */

.detail-bg {
    background: #fff;
    color: inherit;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    padding: 25px;
    margin-top: 0;
    margin-bottom: 15px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.detail-bg h2 {
    color: #fa2b23;
    margin-top: 10px;
}

.detail-bg .pull-left span {
    font-size: 18px;
    font-weight: normal;
}

.detail-bg .icon-box {
    background: #fff;
    width: 70px;
    height: 70px;
    line-height: 70px !important;
    text-align: center;
    font-size: 40px;
    color: #fff;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.detail-hov-bg1 .icon-box,
.detail-hov-bg1:hover,
.detail-hov-bg1.active .icon-box,
.detail-hov-bg1.active {
    background: #3874ce;
}

.detail-hov-bg2 .icon-box,
.detail-hov-bg2:hover,
.detail-hov-bg2.active .icon-box,
.detail-hov-bg2.active {
    background: #73c9f0;
}

.detail-hov-bg3 .icon-box,
.detail-hov-bg3:hover,
.detail-hov-bg3.active .icon-box,
.detail-hov-bg3.active {
    background: #89c998;
}

.detail-hov-bg4 .icon-box,
.detail-hov-bg4:hover,
.detail-hov-bg4.active .icon-box,
.detail-hov-bg4.active {
    background: #86d6c2;
}

.detail-hov-bg1:hover .icon-box,
.detail-hov-bg1.active .icon-box {
    color: #3874ce;
    background: #fff;
}

.detail-hov-bg2:hover .icon-box,
.detail-hov-bg2.active .icon-box {
    color: #73c9f0;
    background: #fff;
}

.detail-hov-bg3:hover .icon-box,
.detail-hov-bg3.active .icon-box {
    color: #89c998;
    background: #fff;
}

.detail-hov-bg4:hover .icon-box,
.detail-hov-bg4.active .icon-box {
    color: #86d6c2;
    background: #fff;
}

.detail-bg:hover .pull-left,
.detail-bg:hover .pull-left h2,
.detail-bg.active .pull-left,
.detail-bg.active .pull-left h2 {
    color: #fff !important;
}

.detail-bg a {
    color: inherit;
}

.switch-area {
    position: absolute;
    bottom: 9px;
    right: 15px;
}

.contacts-box .switch-area {}

.region-cotent>li {
    padding-top: 3px;
    padding-bottom: 3px;
}

.region-cotent a {
    color: inherit;
}

.region-cotent a:hover,
.region-cotent li.active a {
    color: #fa2b23;
}


/*摆台形式*/

.pro_bable_icon {
    width: 19px;
    height: 19px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

.pro_bable_icon {
    background: url(../img/pro_icon.png) no-repeat;
}

.pro_bable_icon.t01 {
    background-position: 0 0px;
}

.pro_bable_icon.t02 {
    background-position: -51px 0px;
}

.pro_bable_icon.t03 {
    background-position: -102px 0px;
}

.pro_bable_icon.t04 {
    background-position: -154px 0px;
}

.pro_bable_icon.t05 {
    background-position: -205px 0px;
}

.pro_bable_icon.t06 {
    background-position: -256px 0px;
}

.pro_tips_layer {
    display: none;
}

.pro_tips {
    width: 300px;
    text-align: left;
}

.pro_tips dl strong {
    font-size: 12px;
}

.pro_tips dl dt {
    overflow: hidden;
    font-weight: normal;
    padding-bottom: 10px;
}

.pro_tips dl dt img {
    float: left;
    width: 80px;
    display: inline-block;
    margin-right: 10px;
}

.switch .onoffswitch-inner:before {
    content: "需要";
}

.switch .onoffswitch-inner:after {
    content: "不需要";
}

.switch .onoffswitch {
    width: 68px;
}

.switch .onoffswitch-switch {
    right: 50px;
}

.sub-title .switch {
    padding-top: 2px;
}

.w300 {
    width: 300px;
}

.contrast-table .bg-danger {
    background: #feeaec !important;
}

.contrast-table .bg-primary {
    background: #edf5fc !important;
    color: inherit;
}

.contrast-table>table > tbody > tr>td:nth-of-type(odd) {
    background-color: #f5f5f5;
}

.contrast-table .table {
    background: none;
}

.contrast-table .c9 {
    color: #999;
    padding-right: 5px;
}
