@charset "UTF-8";

/**
 * 
 * @title --
 * @authors goodliang
 * @date 2016-09-06 12:16:28
 * 
 */

i,
em {
    font-style: normal;
}

.weui_cells_checkbox .weui_check:checked + .weui_icon_checked:before {
    color: #ff431e;
}

.cart-area .weui_media_box .weui_media_title {
    font-weight: normal;
    font-size: 14px;
    color: #666;
}

.cart-area .weui_media_box.weui_media_appmsg {
    -webkit-align-items: top;
    align-items: top;
}

.cart-area {
    margin: 12px 0 !important;
}

.cart-area .weui_cells_checkbox {
    padding-right: 10px;
}

.cart-area .hide-pri {
    margin-top: 5px;
}

.cart-area .pri-minus {
    position: absolute;
    margin-left: 10px;
    margin-top: 3px;
}

.cart-del {
    background: #FF4200;
    box-sizing: content-box;
    position: absolute;
    right: 0;
    top: 1px;
    bottom: 1px;
    width: 48px;
    font-size: 13px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkitjustify-content: center;
    justify-content: center;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
}

.cart-del:active{
    opacity: .8
}

.cart-del-show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.cart-info-hide {
    display: none;
}

.cart-info-default,
.cart-info-hide {
    height: 60px;
    overflow: hidden;
}

.mui-numbox {
    height: 32px;
}

.zoomCart~#container {
    bottom: 51px;
}

.zoomCart {
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.zoomCart:before {
    content: " ";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 1px;
    border-top: 1px solid #E5E5E5;
    color: #E5E5E5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.zoomCart-buy {
    width: 100px;
    line-height: 50px;
    font-size: 16px;
    float: right;
    text-align: center;
}

.zoomCart-body {
    height: 50px;
    margin-right: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.zoomCart-body .weui_cells_checkbox {
    margin-top: 6px;
    padding: 0 15px;
}

.zoomCart-total {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

.hotel-name {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.hotel-name .text-info {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    padding-right: 10px;
}

.text-info.editor {
    white-space: nowrap;
}

.cart-area .weui_media_box .weui_media_desc {
    -webkit-line-clamp: 1 !important;
}

.cart-form{
	font-size: 14px;
}
.cart-form .weui_label{
	color:#999;
}
.cart-form .weui_input{
	color:#666;
}
.toolbar .picker-button,.weui_cells_radio .weui_check:checked + .weui_icon_checked:before{
	color:#a51c30;
}
.weui_cells_radio{
	font-size: 14px;
	color:#666;
}
.cart-form .weui_cells_title{
	margin: 12px 0 10px;
}
.cart-form .weui_cell{
	padding: 10px 15px;
}
.cart-form .weui_textarea{
	font-size: 13px;
	font-weight: normal;
	color:#666;
}
.invoice-hide{
	display: none;
}
