@charset "UTF-8";

/**
 *
 * @title --
 * @authors goodliang
 * @date 2016-10-24 14:44:15
 *
 */
html,body, {
    height: 100%;
}
ul li {
    list-style: none;
}
em,
i {
    font-style: normal;
}
.slideshow{
    min-height: 190px;
    overflow: initial;
}
#container {
    background: #fff;
}

.combo-subTitle h3 {
    background: #fff;
    font-size: 18px;
    font-weight: bold;
}
.btn-return{
    top: 25px;
}
.slideshow-info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.slideshow-info .title {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    font-size: 18px;
    font-weight: normal;
}

.slideshow-info .title small {
    font-size: 13px;
    padding-left: 10px;
}

.slideshow-info .iconfont {
    font-size: 14px;
}

.slideshow-info .total {
    white-space: nowrap;
    padding-left: 15px;
}

.hotel-info-box {
    list-style-type: none;
    align-items: center;
    background: #fff;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hotel-info-box li em, .hotel-info-box li i{
    font-size: 24px
}
.hotel-info-box li {
    float: left;
    text-align: center;
    padding: 14px 0 10px;
    width: 25%;
    height: 50px;
}
.add-property li {
    float: left;
    display: inline;
    width: 25%;
    height: 80px;
}
.hotel-info-box li p {
    font-size: 12px;
}

.hotel-info-box li p,
.hotel-info-box li i {
    color: #999999 ;
}

.hotel-info-box li em {
    font-size: 15px;
    /*    color: #555;*/
}

.hotel-info-box li em,
.hotel-info-box li i,
.hotel-info-box li p {
    display: block;
    font-weight: normal;
}

.info-main {
    background: #fff;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
}

.info-main:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.info-main .map-box {
    width:100%;
    position: relative;
}

.info-main .map-box .weui_cell {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    color: #666;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
}


/*.info-main .map-box .weui_cell i {
    color: #999;
}*/

.info-main .info-list {
    position: relative;
    font-size: 13px;
    padding: 9px 0;
}

.info-main .info-list li.dsk {
    position: absolute;
    left: 0;
    top:0;
    width: 60px;
    padding: 8px 2px;
    color: #666;
    display: inline-block;
    font-size: 14px;
    margin: 0 2px;
}
.info-main .info-list li.icon {
    margin-left: 66px;
}
.info-main .info-list li.icon p {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 6px;
}
.info-main .info-list p small {
    color: #999;
    font-size: 12px;
    display: inline-block;
    position: relative;
    padding: 2px 3px;
    line-height: 1;
}

.info-main .info-list p small.text-orange {
    color: #ff431e;
}

.info-main .info-list p small.text-orange:after {
    border: 1px solid #ff431e;
}

.info-main .info-list p small:after {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
}

.nearby-hotel {
    padding-top: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    background: #fff;
}

.nearby-hotel ul {
    width: 100%;
    list-style-type: none;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space:nowrap
}

.nearby-hotel li {
    display: inline-block;
    width: 65%;
    height: 200px;
    box-sizing: border-box;
    margin: 0 4px 10px 4px;
}
.nearby-hotel li .img-tab img {
    width: 100%;
    height: 150px;
}
.nearby-hotel li .info {

}
.nearby-hotel ul li:last-child{
   margin-right:15px
}
.nearby-hotel ul li:first-child{
   margin-left:15px
}
/*

.nearby-hotel li:after {
    content: " ";
    position: absolute;
    left: 10px;
    right: 5px;
    bottom: -1px;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.nearby-hotel li .info:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
}

.nearby-hotel li .info:last-child:after {
    content: " ";
    position: absolute;
    right: -1px;
    top: 0;
    width: 1px;
    height: 100%;
    border-right: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
}

.nearby-hotel li:nth-child(even) {
    padding: 0 10px 0 5px;
}

.nearby-hotel li:nth-child(even):after {
    left: 5px;
    right: 10px;
}
*/

.nearby-hotel li .info {
    position: relative;
    padding: 5px;
}

.nearby-hotel li img {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}

.nearby-hotel li h4 {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    height: 1.6em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nearby-hotel li p {
    color: #999;
    font-size: 12px;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}

.weui_cells .weui_cell:nth-of-type(odd) {
    background: #f4f4f7;
}

.weui_cell:before {
    left: 0;
}

.more-box {
    text-align: center;
    font-size: 15px;
    padding: 15px 0;
}

.more-box a {
    color: #54b2fb;
}

.more-box i.iconfont {
    color: #ccc;
}

.buy-btn {
    background: #fff;
    color: #ff431e;
    border: 1px solid #ff431e;
    border-radius: 15px;
    padding: 4px 10px;
}

.buy-btn.active,
.buy-btn.active:active {
    color: #999;
    border: 1px solid #ccc;
}

.buy-btn:active {
    color: #de310f;
    border: 1px solid #de310f;
}

.table-box .weui_cell .weui_cell_bd {
    padding: 0 2px;
}

.table-box thead th {
    padding: 8px 4px;
    color: #333;
    font-weight: normal;
    text-align: center;
}

.table-box table td {
    padding: 12px 4px;
    color: #666;
    text-align: center;
}

.table-box table tr:nth-of-type(even) td,
.table-box thead tr {
    background: #f4f4f7;
}

.table-box table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 12px;
}

.table-box .p-l {
    padding-left: 10px !important;
}

.table-box .p-r {
    padding-right: 10px !important;
}
.table-box table td{
    position: relative;
    background: none;
}
.table-box table td:after {
    content: " ";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -1px;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.text-default{
    color:#333 !important;
}
.none-border.hotel-info-box:after{
    display: none !important;
}
.slideshow-info .iconfont{
    margin-left:5px;
}
.slideshow-tel{
    position: absolute;
    right:20px;
    bottom: -32px;
    z-index:9

}.slideshow-tel img{
    height: 65px;
    width: 65px;
}
.hotel-information{
    padding:19px 15px;
    border-bottom: 1px solid #F1F1F1;
}
.hotel-information span{
    display: block;
}
.hotel-information span i{
    color: #FC9E00;
}
.hotel-information .name{
    font-size:22px;
    font-weight: bold;
}
.hotel-information .address{
    font-size: 12px;
    color: #999999;
}
.place_desc {
    padding:25px 10px;
    line-height: 25px;
}
#global-mask {
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000 url("../images/1.gif") no-repeat center;
    opacity: 0.7;
}
#app {
    position: relative;
    width: 100%;
    overflow-y: auto;
}
.app-con {
    position: relative;
    left: 0;
    top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling : touch;
}
.ask {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.ask a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: #d92d40;
    transition: background 500ms;
    -webkit-transition: background 500ms;
}
.ask a:hover {
    background: #D92D40;
}
.checked .iconfont,
.checked p {
    color: #00A0FF !important;
}
