@charset "UTF-8";

/**
 * 
 * @title --
 * @authors goodliang
 * @date 2016-09-22 10:44:15
 * 
 */

em,
i {
    font-style: normal;
}

.slideshow-info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.slideshow-info .title {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    font-size: 18px;
    font-weight: normal;
}

.slideshow-info .title small {
    font-size: 13px;
    padding-left: 10px;
}

.slideshow-info .total {
    white-space: nowrap;
    padding-left: 15px;
}

.info-main {
    background: #fff;
    height: 155px;
    overflow: hidden;
    position: relative;
}

.info-main:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.info-main .info-list {
    float: left;
    width: 25%;
}

.info-main .map-box {
    float: left;
    width: 75%;
    position: relative;
}

.info-main .map-box .weui_cell {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    color: #666;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
}

.info-main .map-box .weui_cell i {
    color: #999;
}

.hotel-info-box {
    list-style-type: none;
}

.hotel-info-box li {
    /*    float: left;
    width: 50%;*/
    text-align: center;
    padding-top: 5px;
}

.hotel-info-box li p {
    font-size: 12px;
}

.hotel-info-box li p,
.hotel-info-box li i {
    color: #999;
}

.hotel-info-box li em {
    font-size: 15px;
    /*    color: #555;*/
}

.hotel-info-box li em,
.hotel-info-box li i,
.hotel-info-box li p {
    display: block;
    font-weight: normal;
}

.nearby-hotel {
    padding-top: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    background: #fff;
}

.nearby-hotel ul {
    list-style-type: none;
}

.nearby-hotel li {
    float: left;
    width: 50%;
    padding: 0 5px 0 10px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
}

.nearby-hotel li:after {
    content: " ";
    position: absolute;
    left: 10px;
    right: 5px;
    bottom: -1px;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.nearby-hotel li .info:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
}

.nearby-hotel li .info:last-child:after {
    content: " ";
    position: absolute;
    right: -1px;
    top: 0;
    width: 1px;
    height: 100%;
    border-right: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
}

.nearby-hotel li:nth-child(even) {
    padding: 0 10px 0 5px;
}

.nearby-hotel li:nth-child(even):after {
    left: 5px;
    right: 10px;
}

.nearby-hotel li .info {
    position: relative;
    padding: 5px;
}

.nearby-hotel li img {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}

.nearby-hotel li h4 {
    color: #666;
    font-size: 14px;
    font-weight: normal;
    height: 1.6em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nearby-hotel li p {
    color: #999;
    font-size: 12px;
}

.zoom-list .price .num {
    margin-right: 10px;
}

.zoom-list .price .pri-minus {
    font-size: 10px !important;
    margin-top: 5px;
}


/*加减*/

.min-numbox {
    width: 82px;
    height: 28px;
    overflow: hidden;
    position: relative;
}

.min-numbox .button {
    color: #FF4200;
}

.min-numbox .button i {
    font-size: 24px;
    line-height: 1.2;
    background: #fff;
    display: block;
}

.min-numbox .button i:active {
    color: #a51c30;
}

.min-numbox .numbox-minus i {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -webkit-transition: transform .5s;
    transition: transform .5s;
}

.min-numbox .min-numbox-in .numbox-minus i {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.min-numbox .numbox-minus {
    display: inline-block;
}

.min-numbox .numbox-plus {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.min-numbox .min-numbox-ant {
    position: absolute;
    right: 24px;
    top: 0;
    z-index: 2;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
    -webkit-transition: transform .5s;
    transition: transform .5s;
}

.min-numbox .min-numbox-in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.min-numbox .input-numbox {
    line-height: 28px;
    font-size: 16px;
    padding: 0 3px;
    display: inline-block;
}

.input-box {
    height: 28px;
    line-height: 28px;
    padding: 3px 25px;
    margin-right: 10px;
    border: 1px solid #efefef;
    border-radius: 5px;
    background: #fff;
    position: relative;
    color: #253342;
}

.input-box .left {
    position: absolute;
    top: 3px;
    left: 5px;
    color: #a51c30;
    font-size: 14px;
}

.input-box .right {
    position: absolute;
    top: 3px;
    right: 5px;
    color: #ccc;
    font-size: 12px;
}

.zoom-list .date-box {
    overflow: hidden;
    color: #444;
}

.zoom-list .date-box p {
    padding-left: 10px;
}

.order-select-body.weui_cell_primary {
    position: relative;
}

.order-select-body i.iconfont {
    position: absolute;
    top: 0;
    right: 5px;
    color: #999;
}

.cartNumber {
    display: inline-block;
}
body{
    position: relative;
    top: 0;
}
#nearhotel{
    padding: 
}