@charset "UTF-8";
html, body {padding: 0;margin: 0;}
body{
    width: 100%;
}
.main-top {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
    background: #152866;
}
.main-banner .swiper-pagination-bullet {
    background: #ccc;
    opacity: 1;
}
.main-banner .swiper-pagination-bullet-active {
    background: #007aff;
}
.main-banner .swiper-pagination {
    text-align: right;
    width: 95% !important;
    top: 125px !important;
}
.swiper-bg {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-position: center;
    background-size: cover;
}
.main-search {
    position: absolute;
    width: 89%;
    padding: 5px 2.5%;
    left: 3%;
    top: 150px;
    background: #fff;
    border-radius: 4px;
    z-index: 100;
}
.main-search table {
    width: 100%;
}
.main-search table td {
    padding: 10px 3px;
    font-size: 15px;
    color: #666;
}

.main-search table tr.border td {
    border-bottom: 1px solid #eee;
}
.main-search table tr.border td p {
    text-align: center;
    font-size: 12px;
}

.main-bottom {
    background: #f3f4f8;
    padding-top: 30px;
}
.main-bottom .box {
    width: 100%;
    overflow: hidden;
    background: #fff;
    padding: 20px 0 10px;
}
.main-bottom .box table {
    width: 100%;
    overflow: hidden;
}
.main-bottom .box table td {
    padding: 10px 5px;
}
.main-bottom .box table p {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.main-bottom .box table a {
    color: #666;
    font-size: 14px;
}
.main-bottom .box table img {
    width: 90%;
}
.table-title {
    font-size: 14px;
    color: #666;
    text-align: left;
}
.main-bottom .box table .inner-table {
    width: 100%;
}
table.inner-table td {
    padding: 0;
    text-align: center;
    border:none !important;
}
#data-start{
    border:none;
}
#data-end{
    border: none;
}
table.inner-table td p.time-sm {
    font-size: 12px;
    color: #c8c8c8;
}

table.inner-table td span.day {
    display: inline-block;
    width: 40px;
    border: 1px solid #ccc;
    padding: 1px 3px;
    border-radius: 15px;
    font-size: 10px;
    color: #666;
}
table.inner-table td p.time-string span {
    font-size: 10px;
    color: #666;

}
table.inner-table td p.time-string input {
    width: 64%;
    font-size: 15px;
    color: #333;
    font-weight: 400;
    text-align: center;
}
#select-city {
    font-size: 15px;
    text-align: center;
    color: #333;
    font-weight: 400;
    display: inline-block;
}
.searchPage-box {
    width: 100%;
    overflow: hidden;
}
#searchPage .weui-search-bar {
    background: #fff;
}
#searchPage .weui-search-bar__box,#searchPage .weui-search-bar__label {
    background: #efeff4;
    border-radius: 50px;
}
#searchPage .weui-search-bar__form:after {
    border: none;
    border-radius:0;
}
.searchPage-title {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
}
.searchPage-title p.left {
    float: left;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
}
.searchPage-title p.right {
    float: right;
    padding-right: 10px;
    font-size: 12px;
}
.search-list {
    width: 100%;
    background: #fff;
}
.search-list tr td {
    border-bottom: 1px solid #eee;
    height: 40px;
    padding: 0 10px;
}
.search-list tr td.left {
    font-size: 14px;
    color: #151515;
}
.search-list tr td.left span {
    color: #666;
}
.search-list tr td.left i {
    font-size: 12px;
    color: #666;
    font-style: normal;
    margin-left: 5px;
}
.search-list tr td.right {
    text-align: right;
    font-size: 13px;
    color: #666;
}











#header .back,
#header .icon-back {
    float: left;
    padding: 0 10px;
}

#header .back i,
#header .icon-back i {
    color: #fff !important;
}

/*end*/
.home-hot-city {
    background: #fff;
    overflow: hidden;
    padding: 10px;
}

.home-hot-city h2 {
    font-size: 20px;
    color: #4c4c4c;
    font-weight: normal;
}

.home-hot-city .hot-city {
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.home-hot-city .hot-city li {
    list-style: none;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    text-align: center;
    color: #666;
}

.home-hot-city .hot-city li i.iconfont {
    font-size: 50px;
    line-height: 1.2;
}

.home-hot-city .hot-city li a {
    color: #666;
}

.home-hot-city .hot-city .fj {
    color: #ab4ae5;
}

.home-hot-city .hot-city .bj {
    color: #0bb6ff;
}

.home-hot-city .hot-city .sh {
    color: #25d1c9;
}

.home-hot-city .hot-city .gz {
    color: #ff7385;
}

.home-hot-city .hot-city .sz {
    color: #ffc417;
}

.main-nav {
    padding: 10px;
    overflow: hidden;
}

.main-nav .l-col {
    width: 46%;
    float: left;
}

.main-nav .r-col {
    width: 54%;
    float: right;
}

.home-sale-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: flex-start;
    padding: 15px 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.home-sale-list:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    left: 95px;
}

.home-sale-list .pic {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-right: 10px;
}

.home-sale-list .pic img {
    height: 80px
}

.home-sale-list .info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
}

.home-sale-list .info h3 {
    font-size: 15px;
    line-height: 1.4;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.home-sale-list .info h3 a {
    color: #333;
}

.home-sale-list .tag-group {
    height: 1.8em;
    overflow: hidden;
}

.home-sale-list .tag-group .tag {
    font-size: 12px;
    display: inline-block;
    margin: 5px 2px 5px 0;
    padding: 0px 2px;
    color: #999;
    border: 1px solid #dcdcdc;
    /* background: #f5f5f5;*/
    line-height: 1.4;
}

.home-sale-list .details {
    padding-top: 5px;
}

.home-sale-list .details i {
    color: #ccc;
}

.home-sale-list .details span {
    display: inline-block;
}

.home-sale-list .details .text-info {
    padding-top: 4px;
}

.home-sale-list .discount {
    background: #ff431e;
    color: #fff;
    padding: 0px 4px;
    font-size: 12px;
    font-weight: normal;
    margin-top: 8px;
    margin-left: 15px;
    border-radius: 3px;
    line-height: 1.4;
}

/*.home-site-list {
    color: #fff;
    display: block;
    overflow: hidden;
}
*/
.site-list-head {
    position: relative;
    overflow: hidden;
}

.home-site-list .site-list-head img {
    width: 100%;
    margin: -30px 0;
}

.home-site-list .info {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 320px;
    min-width: 300px;
}

.home-site-list .info h3 {
    font-size: 18px;
    line-height: 1.3;
    font-weight: normal;
}

.home-site-list .site-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.home-site-list .star-group i {
    font-size: 12px;
    color: #ffba00;
}

.home-site-list .details {
    margin-top: 10px;
}

/*.site-list-body {
    overflow: hidden;
}*/

.site-list-footer {
    background: #fff;
    color: #666;
    padding: 10px;
    position: relative;
}

.site-list-footer .top-triangle {
    position: absolute;
    left: 20px;
    top: -15px;
    color: #fff;
}

.site-list-footer .top-triangle .iconfont {
    font-size: 12px;
    color: #fff;
}

.more-panel {
    background: #fff;
    text-align: right;
    overflow: hidden;
    padding: 10px;
    color: #ccc;
    position: relative;
}

.more-panel a {
    color: #999;
}

.more-panel a:active {
    color: #a51c30;
}

.more-panel:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.room-body {
    overflow: hidden;
}

.home-room-list {
    margin: 0 -3px;
    box-sizing: border-box;
    overflow: hidden;
    list-style-type: none;
    padding-top: 6px;
}

.home-room-list li {
    float: left;
    width: 50%;
    padding: 0 3px;
    margin-bottom: 6px;
    box-sizing: border-box;
}

.home-room-list li img {
    width: 100%;
}

.romm-list-footer {
    background: #fff;
    padding: 0 5px;
    overflow: hidden;
}

.romm-list-footer .price .pri-minus {
    color: #666;
    border: 1px solid #e20f2e;
}

.romm-list-footer .price .pri-minus i {
    color: #fff !important;
    background: #e20f2e;
}

.romm-list-footer .info h4 {
    color: #333;
    font-size: 14px;
    font-weight: normal;
}

.romm-list-footer .info p {
    color: #999;
    font-size: 12px;
}

.romm-list-footer .price {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    margin-bottom: 6px;
}

.romm-list-footer .price>span {
    margin-right: 10px;
}

.romm-list-footer .price .pri-minus {
    font-size: 10px !important;
    margin-top: 7px;
}

.home-footer {
    text-align: center;
    padding: 10px;
}

.home-footer-des img {
    width: 50%;
}

.home-footer .copyright {
    color: #999;
}

.home-footer .footer-nav {
    padding: 5px 0;
}

.home-footer .footer-nav,
.home-footer .footer-nav a {
    color: #666;
}

.home-footer .footer-nav a:active {
    color: #a51c30;
}


.fixed-kf {
    position: fixed;
    z-index: 89;
    bottom: 60px;
    right: 0px;
    width: 80px;
}

.fixed-kf a  img{
    width: 100%;
}



/*item*/

.item-list,
.vertical-tab {
    overflow: hidden;
    box-shadow: 2px 4px 5px #eee;
}

.item-list {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    min-width: 100px;
}

.vertical-tab .tab-title>li,
.list-group>ul>li {
    padding: 12px 15px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    color: #666;
    line-height: 1.2;
    text-align: left;
    float: left;
}

.item-list>li {
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 5px 12px;
    display: inline-block;
    margin: 3px 6px;
    background: #ddd;
    color: #444;
    cursor: pointer;
}

.item-list>li>i.iconfont {
    margin-right: 8px;
    font-size: 14px;
    visibility: hidden;
}

.item-list>li.active {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAiUlEQVR42l2PuQ3CQBBFBwuJmNg5VRC6BjpxTgGuww2YBuhgG7AxIkAr5ENGgsDBw4wPrfclc3zN13x5wxleV3GBoIUb9JEONX+eyaznYKBonAP2jBwqOEE3tLJdufZwZOETis9lcdHrQLyndt9RjYeaQokrbqxq92xeFdDAw+hQahxr/Jh2SvYDlc6B4qypAJUAAAAASUVORK5CYII=") 99% center no-repeat #c00;
    color: #fff;
    padding-right: 20px;
    border: 0
}

.item-list>li.active>i.iconfont {
    visibility: visible;
}

.item-list>li:after,
.vertical-tab .tab-title>li:after {
    content: " ";
    position: absolute;
    top: -1px;
    width: 100%;
    height: 1px;
    border-top: 1px solid #d9d9d9;
    color: #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    left: 36px;
}


/*城市*/

.list-group>ul>li.list-group-title {
    background: #F7F7F7;
    margin-bottom: -1px;
    padding: 10px 15px;
    white-space: nowrap;
    position: relative;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    color:rgb(66, 131, 230)!important;
    clear: left;
    float: none;
}

.list-group-title+.hr:after,
.hr+.cityitem:after {
    border-top: 0 !important;
}

list-group-title,
.hr {
    clear: both;
}

.list-group>ul>li:after {}

.hr {
    height: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    padding: 0 !important;
}

.list-menu {
    position: fixed;
    right: .5rem;
    top: 50px;
    z-index: 999;
}

.list-menu ol {
    background: none;
    border: none;
    list-style: none;
    margin: 0;
    padding: 2.2rem 0 0 0;
}

.list-menu li {
    text-align: center;
    color: #333333;
    font-size: .7rem;
    line-height: 1.3;
    padding: 0 5px 0 40px;
}
.hidden{
    display: none;
}
.list-menu li:first-child {
    font-size: inherit;
    line-height: inherit;
    margin-top: 1rem;
    display: none;
}

.list-menu ol:before {
    background-color: none
}

#header+.container {
    margin-top: 45px;
}

#cityPage {
    z-index: 999;
}
#searchPage {
    background: #efeff4;;
    z-index: 999;
    position: absolute;
    overflow: auto;
}
.go-user {
    position: absolute;
    z-index: 100;
    right: 10px;
    top: 10px;
}
.go-user i {
    color: #fff;
    font-size: 25px;
}
/*切进动画*/
.page {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0px;
    bottom: 0;
    background: #fff;
    overflow: hidden;
}

.page .container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.page-next {
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    display: none;
}

.page-in {
    display: block;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
