@charset "UTF-8";
*{padding: 0;margin: 0;}
html,body {
    display: block;
    padding: 0;
    margin: 0;
}
ul,li {
    list-style: none;
}
.top20 {
    top:20px !important;
}
.info-main {
    background: #F3F4F8;
}
.info-main-banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.info-main-banner .banner-title {
    position: absolute;
    z-index: 111;
    width: 100%;
    bottom: 10px;
    color: #fff;
}
.info-main-banner .go_back {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 26px;
    color: #fff;
}
.info-main-banner .banner-title ul {
    width: 100%;
    position: relative;
}
.banner-title .left {
    font-size: 18px;
    padding-left: 10px;
    margin-right: 70px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 25px;
}
.banner-title .left span {
    margin-left: 5px;
    font-size: 14px;
}
.banner-title .right {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 13px;
    line-height: 18px;
}
.banner-title .right span {
    display: inline-block;
    margin-right: 5px;
}
.banner-title .right i {
    display: inline-block;
    line-height: 30px;
}
.info-date {
    padding: 15px 30px;
    text-align: center;
}
.info-date table {
    background: #fff;
    width: 100%;
}
.info-date table td {
    padding: 5px 1px;
}
.info-date table td p {
    font-size: 12px;
    color: #c8c8c8;
}
.info-date table td .count {
    font-size: 10px;
    border: 1px solid #eee;
    display: inline-block;
    padding: 0 3px;
    height: 16px;
    line-height: 16px;
    border-radius: 8px;
    overflow: hidden;
}
.info-date table td div {
    position: relative;
    font-size: 13px;
    color: #4895F2;
}
.info-date table td div input.hidden_input {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.info-date table td div span {
    font-size: 18px;
    margin-right: 2px;
}
.info-room-list {
    margin-bottom: 10px;
}
.info-room-list table.outer-table,
.info-room-list table.head-table {
    background: #fff;
    width: 100%;
}
.info-room-list table.head-table td {
    position: relative;
    padding: 5px 5px;
    border-bottom:1px solid #eee;
}

.info-room-list .head-table td.img img {
    width: 78px;
    height: 78px;
}
.info-room-list .head-table td.con div.title {
    font-size: 16px;
    color: #333;
}
.info-room-list .head-table td.con .info {
    width: 100%;
    overflow: hidden;
    color: #999;
    padding: 6px 0;
}
.info-room-list .head-table td.con .info span {
    float: left;
    height: 15px;
    line-height: 15px;
    font-size: 13px;
    overflow: hidden;
    padding-right:5px;
    margin-right:5px;
    border-right: 1px solid #eee;
}
.info-room-list .head-table td.con .info span.end {
    border:none;
}
.info-room-list .head-table td.con .sm {
    font-size: 13px;
}
.info-room-list .head-table td.con div {
    line-height: 25px;
}
.info-room-list table.inner-table {
    width: 100%;
    background: #F3F4F8;
}
.info-room-list table.inner-table td {
    border-bottom: 1px solid #eee;
    padding: 5px;
}
.info-room-list table.inner-table p.inner-title {
    font-size: 14px;
    color: #333;
    height: 25px;
    overflow: hidden;
}
.info-room-list table.inner-table p.inner-con1,
.info-room-list table.inner-table p.inner-con2 {
    line-height: 20px;
    margin-bottom: 5px;
}
.info-room-list table.inner-table p.inner-con1 span {
    margin-right: 20px;
    color: #999;
}
.info-room-list table.inner-table p.inner-con2 span {
    margin-right: 10px;
    color: #999;
}
.info-room-list table.inner-table td.button {
    font-size: 13px;
    color: #4895F2;
    border-bottom: none;
}



.info-btn {
    display: inline-block;
    width: 70px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background: #4895F2;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}
.info-btn-disabled {
    display: inline-block;
    width: 70px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background: #ccc;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}
.info-room-list td.price {
    position: relative;
    text-align: center;
}
.info-room-list td.price p {
    padding: 3px 0;
}
.info-room-list td.price p.num {
    font-size: 13px;
    color: #F34343;
}
.info-room-list td.price p.num span {
    font-size: 20px;
    margin-left: 3px;
}
.info-room-list td.price p.num span.ccc {
    font-size: 12px;
    margin-left: 3px;
    color: #151515;
}
.info-room-list td.price p.num i.iconfont {
    font-size: 14px;
    margin-left: 3px;
    color: #4895F2;
}
img.style-end {
    position: absolute;
    right: 0;
    top:0;
    width: 40px;
}
.info-room-list tr.table-disabled td * {
    color: #999 !important;
}



.warn1 {
    color: #4895F2 !important;
}
.warn2 {
    color: #F6A623 !important;
}
.warn3 {
    color: #3FC7B5 !important;
}
.info-device {
    background: #fff;
    margin-bottom: 10px;
}
.info-device table {
    width: 100%;
}
.info-device table td {
    text-align: center;
    padding: 5px 5px;
    font-size: 11px;
}
.info-device table td i.iconfont {
    font-size: 24px;
}
.info-device table td p.info {
    font-size: 14px;
    color: #4895F2;
}
.info-device table td p.info i {
    font-size: 12px;
    margin-left: 3px;
    color: #666;
}


.mask {
    position: fixed;
    z-index: 888;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: .9;
}
.hotel-con-data {
    background: #F3F4F8;
    position: fixed;
    z-index: 999;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: transform 300ms;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
}
.hotel-con-data-enter {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.hotel-con-data .pop-box {
    background: #fff;
}
.hotel-con-data .pop-box li.title {
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    border-bottom: 1px solid #eee;
}
.hotel-con-data .pop-box li.title b {
    float: left;
    font-size: 15px;
    color: #333;
}
.hotel-con-data .pop-box li.title i {
    float: right;
    font-size: 15px;
    color: #666;
}
.hotel-con-data .pop-box li.con-list {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
}
.hotel-con-data .pop-box li.con-list p {
    float: left;
    width: 40%;
    padding: 8px 0;
    margin: 0 5% 0 5%;
    font-size: 14px;
    color: #333;
}
.hotel-con-data .pop-box li.con-list p span {
    color: #999;
}
.hotel-con-data .pop-box li.hotel-desc {
    width: 100%;
    overflow: hidden;
    padding: 15px 0;
}
.hotel-con-data .pop-box li.hotel-desc p.left {
    float: left;
    margin-left: 2%;
    width: 25%;
    text-align: center;
    padding-top: 15px;
}
.hotel-con-data .pop-box li.hotel-desc p.left span {
    display: inline-block;
    border:1px solid #4895F2;
    color: #4895F2;
    padding: 0 6px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
}
.hotel-con-data .pop-box li.hotel-desc p.right {
    float: right;
    margin-right: 2%;
    line-height: 23px;
    color: #333;
    width: 60%;
}
.hotel-con-data .pop-box-price {
    border-top: 1px solid #eee;
    width: 100%;
    overflow: hidden;
    background: #fff;
}
.hotel-con-data .pop-box-price li.left {
    float: left;
    width: 50%;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
}
.hotel-con-data .pop-box-price li.left p.price {
    padding-left: 20px;
    float: left;
    font-size: 15px;
}
.hotel-con-data .pop-box-price li.left p.price span {
    color: #F34343;
    font-size: 15px;
}
.hotel-con-data .pop-box-price li.left p.price i {
    font-style: normal;
    font-size: 12px;
    color: #F34343;
}
.hotel-con-data .pop-box-price li.left p.date {
    float: left;
    margin-left: 20px;
    font-size: 10px;
    border: 1px solid #eee;
    height: 18px;
    line-height: 18px;
    padding: 1px 5px;
    border-radius: 10px;
    color: #333;
    margin-top: 15px;
}
.hotel-con-data .pop-box-price li.right {
    float: right;
    width: 50%;
    overflow: hidden;
    background: #4FA9FF;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.hotel-con-data .pop-box-price li.right  a {
    display: block;
    line-height: 50px;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
}
.hotel-img-data {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    left: 0;
    top: 0;
}
.hotel-img-data h2 {
    font-size: 18px;
    text-align: center;
    color: #fff;
    padding: 20px 0;
}
.hotel-img-data .pop-room-info {
    padding: 10px 10px;
    overflow: hidden;
}
.hotel-img-data .pop-banner {
    position: relative;
    height: 300px;
    overflow: hidden;
}
.hotel-img-data .pop-banner .swiper-count1 {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #fff;
    z-index: 999;
    font-size: 14px;
}
.pop-room-info h3 {
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    height: 36px;
    line-height: 36px;
    color: #fff;
}
.pop-room-info ul {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
}
.pop-room-info ul li {
    float: left;
    width: 40%;
    margin: 0 4% 10px 5%;
    color: #fff;
    font-size: 14px;
    height: 35px;
    line-height: 36px;
    text-indent: 20px;
    overflow: hidden;
}
.pop-room-info ul li i {
    font-size: 14px;
    margin-right: 5px;
    color: #fff;
}
.pop-room-info p {
    width: 80%;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff;
}
.info-map {
    position: relative;
    background: #fff;
    width: 100%;
    overflow: hidden;
}
.info-map .map-left {
    position: absolute;
    left: 5px;
    top:5px;
}
.info-map .map-center {
    margin: 0 100px 0 25px;
    min-height: 70px;
}
.info-map .map-center p.name {
    padding: 5px 0;
    font-size: 12px;
    color: #333;
}
.info-map .map-center p.location {
    font-size: 13px;
    color: #999;
}
.info-map .map-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 70px;
}
.info-main .goBack {
    position: absolute;
    z-index: 888;
    left: 8px;
    top: 4px;
    color: #fff;
}