@charset "UTF-8";

/**
 * 
 * @title base
 * @authors goodliang
 * @date 2016-08-26 11:55:07
 * 
 */


/*sui改*/

.bar .icon {
    line-height: 2.2rem;
}

.item-title {
    font-weight: normal !important;
}

em {
    font-style: normal;
}

.f6 {
    font-size: .6rem !important;
}

.f65 {
    font-size: .65rem !important;
}

.f7 {
    font-size: .7rem !important;
}

.f75 {
    font-size: .75rem !important;
}

.f8 {
    font-size: .8rem !important;
}

.p-t-b {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.mr {
    margin-right: .5rem;
}

.m-none {
    margin: 0 !important;
}

.m-t {
    margin-top: .5rem !important;
}

.m-t-b {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.f-r {
    float: right;
}

.buttons-tab .button.active {
    color: #a51c30;
    border-color: #a51c30;
}

.buttons-tab .button {
    font-size: .7rem;
}

.demand {
    width: 10rem;
    margin: 0.1rem auto 0;
}

.demand .button.active {
    background-color: #fff;
    color: #a51c30
}

.demand .button {
    border-color: #fff;
    color: #fff
}

.card.card-default {
    margin: .5rem 0;
    border-radius: 0;
    box-shadow: 0 0 0 !important;
    font-size: .7rem;
    font-weight: normal;
}

.card.card-default .card-header {
    font-size: .7rem;
}

.card.card-default .item-media img {
    width: 3rem;
}

.list-block.media-list.lg-media .item-media img {
    width: 4.5rem;
}

.list-block.media-list.lg-media .item-inner {
    padding-top: .7rem;
    padding-bottom: .65rem;
}

.list-block.media-list.lg-media .item-media {
    padding-top: .65rem;
    padding-bottom: .7rem;
}

.btn-buy {
    padding: 0;
    min-width: 3rem;
}

.button-inline {
    display: inline-block;
}

.button.btn-sm {
    padding: 0 .5rem;
    font-size: .6rem;
    height: 1.2rem;
    line-height: 1.2rem;
}

li,
ol,
ul {
    list-style: none
}

.clearfix {
    overflow: auto;
}

.white_bg {
    background: #fff;
}

.gray_color {
    color: #666
}

.light_gray_color {
    color: #999
}

.text-muted {
    color: #A1A1A1;
}

.red_color {
    color: #cf1735
}

.green_color {
    color: #4cd864
}

.blue_color {
    color: #0894ec
}

.white_color {
    color: #fff
}

.orange_color {
    color: #ff631e
}

.light_blue_color {
    color: #25d7c8
}

.pink_color {
    color: #fc5786
}

.text-right {
    text-align: right;
}

.text-justify {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.iconfont {
    font-size: 1rem;
}

.bar.bar-red,
.bar-red.bar:after {
    background-color: #a51c30
}

.bar.bar-white {
    background-color: #fff;
}

.bar.bar-white a {
    color: #666;
}

.bar.bar-user {
    /*background: rgba(0,0,0,0.2);*/
    background: none;
}

.bar-user.bar:after {
    height: 0;
}

.bar.bar-red .button-link,
.bar.bar-user .button-link {
    color: #fff;
    line-height: 2rem;
    height: 2rem
}

.bar.bar-red .title,
.bar.bar-user .title {
    color: #fff;
}

.bar.bar-user .title {
    font-weight: normal;
    font-size: .8rem;
}

.bar.bar-user~.content {
    top: 0;
}

.square-panel {
    background: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.square-panel li {
    display: block;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.square-panel li:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.square-panel li .icon-group:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: auto;
    top: auto;
    height: 100%;
    width: 1px;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .square-panel li:after {
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
    }
    .square-panel li .icon-group:after {
        -webkit-transform: scaleX(.5);
        transform: scaleX(.5);
    }
}

.square-panel li .icon-group {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    padding: 1rem;
    font-size: .7rem;
    color: #333;
    position: relative;
}

.order-header .bar {
    position: static;
}

.order-header~.content {
    top: 4.2rem;
}

.more-link {
    position: relative;
    height: 2rem;
    line-height: 2rem;
    overflow: hidden;
    margin: .5rem;
    white-space: nowrap;
}

.more-link>a {
    background: #efeff4;
    padding: 0 .8rem;
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
    font-size: .7rem;
    font-weight: normal;
    color: #999;
}

.more-link:after {
    display: block;
    left: 0;
    content: '';
    position: absolute;
    width: 100%;
    top: 1rem;
    border-top: 1px #dcdcdc solid;
}


/*警告框*/

.alert {
    position: relative;
    padding: 8px 8px 8px 16px;
    border-radius: 6px;
    color: #666;
    font-size: .65rem;
    line-height: 16px;
    margin-bottom: 10px
}

.alert-icon {
    margin-right: 8px;
    font-size: .75rem;
    top: 1px;
    position: relative
}

.alert-description {
    font-size: .65rem;
    color: #999;
    line-height: 21px;
    display: none
}

.alert-success {
    border: 1px solid #e7f6e1;
    background-color: #f3faf0
}

.alert-success .alert-icon {
    color: #87d068
}

.alert-info {
    border: 1px solid #d5f1fd;
    background-color: #eaf8fe
}

.alert-info .alert-icon {
    color: #2db7f5
}

.alert-warning {
    border: 1px solid #fec;
    background-color: #fff7e6
}

.alert-warning .alert-icon {
    color: #fa0
}

.alert-error {
    border: 1px solid #fdc;
    background-color: #ffeee6
}

.alert-error .alert-icon {
    color: #f50
}

.alert-close-icon {
    font-size: .65rem;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    height: .65rem;
    line-height: .65rem;
    overflow: hidden;
    cursor: pointer
}

.alert-close-icon .anticon-cross {
    color: #999;
    -webkit-transition: color .3s ease;
    transition: color .3s ease
}

.alert-close-icon .anticon-cross:hover {
    color: #444
}

.alert-close-text {
    position: absolute;
    right: 16px
}

.alert-with-description {
    padding: .5rem .5rem .5rem 4rem;
    position: relative;
    border-radius: 6px;
    margin-bottom: 10px;
    color: #666;
    line-height: 1.5
}

.alert-with-description.alert-no-icon {
    padding: 16px
}

.alert-with-description .alert-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    margin-top: -1.5rem;
    font-size: 2rem;
}

.alert-with-description .alert-close-icon {
    position: absolute;
    top: 17px;
    right: 16px;
    cursor: pointer;
    font-size: .65rem
}

.alert-with-description .alert-message {
    font-size: .75rem;
    color: #666;
    display: block
}

.alert-with-description .alert-description {
    display: block
}

.alert.alert-close {
    height: 0!important;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-transition: all .3s cubic-bezier(.78, .14, .15, .86);
    transition: all .3s cubic-bezier(.78, .14, .15, .86);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0
}

.alert-slide-up-leave {
    -webkit-animation: antAlertSlideUpOut .3s cubic-bezier(.78, .14, .15, .86);
    animation: antAlertSlideUpOut .3s cubic-bezier(.78, .14, .15, .86);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.list-block.text-list .item-content,
.list-block.text-list .item-link .item-inner {
    min-height: auto;
    color: #999;
}

.list-block.text-list .item-input {
    color: #777;
}

.list-block.text-list .item-title {
    width: auto;
    min-width: 4rem;
}

.content-block-title {
    margin: 1rem 0.75rem 0.5rem;
}


/*暂无数据*/

.cry_icon {
    width: 5.5rem;
    height: 5.5rem;
    margin: 3rem auto .8rem;
}

.cry_icon img {
    width: 100%;
}

.myBox .button-danger {
    border-color: #a51c30;
    color: #a51c30;
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.myBox .btn {
    display: inline-block;
    padding: 0 1rem;
}
