@charset 'UTF-8';

/**
 * 
 * @title user
 * @authors goodliang
 * @date 2016-08-26 12:03:19
 * 
 */

.headWrap {
    overflow: hidden;
}

.headBar {
    overflow: hidden;
    text-align: center;
    color: #fff;
    background-color: #fff;
    background-image: url(../image/newUser_bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    -webkit-background-size: cover;
    background-size: cover;
    height: 7.1rem;
}

.headImg {
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 100%;
    background: rgba(255, 255, 255, .5);
    display: inline-block;
    float: left;
    border: 2px solid #98cdfd
}

.headImg img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}
.content.native-scroll{
    background: #f3f4f8
}
.user-info{
    display:inline-block;
    width:6.14rem;
    text-align: left;
    float: left;
    margin: 1rem 0.5rem 1rem 1rem;
}
.head-content {
    margin: 2.5rem auto 0;
    margin-bottom: .8rem;
    padding: 0 2rem;
    text-align: center;
}

.headBar .user-name {
    font-size: .7rem;
    padding: .5rem 0 0;
}

.headBar .user-info h4 {
    font-size: .75rem;
    font-weight: normal;
    margin: 0;
    padding: .2rem 0;
    width: 7rem;
    display: inline-block;
}

.headBar .user-info p {
    font-size: .6rem;
    display: inline-block;
    margin: 0;
    padding: .1rem .5rem;
    border-radius: .5rem;
    background: rgba(0, 0, 0, .3);
}

.follow-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 0;
    padding: 0;
}

.follow-list li {
    font-size: 12px;
    margin: 0 1px;
    padding: .2rem 0;
    text-align: center;
    background: rgba(0, 0, 0, .3);
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

.follow-list li em {
    font-style: normal;
    display: block;
}

.order-panel {
    margin: .42rem 0;
    background: #fff;
}

.order-panel-title {
    font-size: .75rem;
    position: relative;
    padding: .4rem .5rem;
    color: #333;
}
.blue_color{
    color: #4e8cee;
}
.order-panel-title i.iconfont {
    font-size: 1.1rem;
}

.order-panel-title:after {
    position: absolute;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    background-color: #e7e7e7;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .order-panel-title:after {
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
    }
}

.order-panel .icon-group {
    position: relative;
    display: inline-block;
    text-align: center;
}

.order-panel .icon-group p {
    font-size: .65rem;
    margin: 0;
}

.order-panel .icon-group-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.order-panel .icon-group-wrap li {
    padding: .5rem 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

.icon-group {
    color: #666;
}

.order-panel .icon-group .iconfont {
   font-size: 1.4rem
}

.icon-group .num {
    font-family: Arial;
    font-size: .5rem;
    font-weight: normal;
    font-style: normal;
    line-height: .8rem;
    position: absolute;
    width: .8rem;
    height: .8rem;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    background: #ff631e;
}

.shop-logo {
    font-size: .7rem;
    color: #666;
}

.shop-logo img {
    height: 20px;
    padding: 2px;
    border: 1px solid #dcdcdc;
    float: left;
    margin-right: 10px;
}

.item-inner #xd-btn {
    position: absolute;
    bottom: .9rem;
    right: .75rem;
}

.item-content .buy-combo {
    position: absolute;
    bottom: .75rem;
    right: .75rem;
}

.follow {
    padding-top: .2rem;
    display: inline-block;
}

.text-list {
    margin: 0;
    padding: 0;
}

.text-list>li {
    overflow: hidden;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: .12rem 0;
}

.text-list>li .list-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-width: 90px;
    color:#888;
}

.text-list>li .list-body {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    color:#666;
}



/*tab*/
.tablink {
    background: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.tablink a {
    line-height: 2rem;
    color: #5f646e;
    text-align: center;
    border: none;
    height: 2rem;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}
.tablink .active {
    color: #a51c30;
    border-bottom: 2px solid #a51c30;
    border-radius: 0px;
}
.weui_cells_access .weui_cell_ft:after {
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    position: relative;
    top: -2px;
    top: -1px;
    margin-left: .3em;
}
.icon-right{
    display: inline-block;
    float: right;
    margin: 1rem 0 0;
}
.qing_color{
    color: #49bdff
}
.red_color{
    color: #f97878
}
.green_color{
    color: #4de5aa
}