@charset "UTF-8";
html,body {
    padding: 0;
    margin: 0;
}
ul,li {
    list-style: none;
}
.info-main-description {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #F3F4F8;
}
.info-main-description-banner {
    position: relative;
    padding: 10px 3%;
}
.info-main-description-banner div.img {
    width: 100%;
    height: 155px;
    border-radius: 3px;
    overflow: hidden;
}
.info-main-description-banner div.img img {
    width: 100%;
}
.info-main-description-banner .banner-title {
    position: absolute;
    z-index: 100;
    width: 100%;
    bottom: 10px;
    color: #fff;
    padding-left: 5px;
}
.info-main-description-banner .banner-title .title {
    font-size: 14px;
}
.info-main-description-banner .banner-title .num {
    font-size: 12px;
}
.info-main-description-box {
    background: #fff;
    margin-bottom: 10px;
    padding: 0 10px;
}
.info-main-description-box-title {
    font-size: 16px;
    color: #333;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    font-weight: 400;
}
.info-main-description-box .hotel-info {
    font-size: 14px;
    line-height: 25px;
    text-align: left;
    color: #666;
    height: 65px;
    overflow: hidden;
}
.info-main-description-box .hotel-facility {
    margin-bottom: 10px;
    padding: 0;
}
.info-main-description-box .hotel-facility li {
    margin-bottom: 10px;
}
.info-main-description-box .hotel-facility h3 {
    padding: 10px 0;
    font-size: 15px;
    color: #333;
}
.info-main-description-box .hotel-facility h3 i {
    margin-right: 5px;
}
.info-main-description-box .hotel-facility p {
    padding: 0 20px;
}
.info-main-description-box .hotel-facility p span {
    display: inline-block;
    min-width: 40px;
    margin:0 15px 5px 0;
    font-size: 13px;
    color: #999;
}
.info-main-description-box .hotel-policy{
    padding: 0;
}
.info-main-description-box .hotel-policy li {
    margin-bottom: 10px;
}
.info-main-description-box .hotel-policy h3 {
    padding: 10px 0;
    font-size: 15px;
    color: #333;
}
.info-main-description-box .hotel-policy p {
    margin-right: 10px;
    font-size: 13px;
    color: #999;
    line-height: 25px;
}
.hotel-info-desc {
    padding-top: 10px;
    width: 100%;
    overflow: hidden;

}


.show-more {
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.show-more .tab-hide {
    display: none;
}
.show-more span {
    color: #4895F2;
    font-size: 13px;
}
.show-more i {
    font-size: 13px;
}