@charset "UTF-8";

/**
* 
* @title 会唐网手机版
* @authors goodliang
* @date 2016-06-14 17:03:26
* 
*/

html {
    -ms-touch-action: none;
}

body {
    font-size: 13px;
    color: #333;
    overflow: hidden;
}

img {
    vertical-align: top;
}

em {
    font-style: normal;
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

.hide {
    display: none;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.p-none {
    padding: 0 !important;
}

.m-none {
    margin: 0 !important;
}

.m-t-none {
    margin-top: 0 !important;
}

.m-b-sm {
    margin-bottom: 10px;
}

.p-t-none {
    padding-top: 0 !important;
}

.p-l-r {
    padding: 0 10px;
}

.p-sm {
    padding: 10px;
}

.space-15 {
    margin: 15px 0;
}

.space-20 {
    margin: 20px 0;
}

.space-25 {
    margin: 25px 0;
}

.space-30 {
    margin: 30px 0;
}

.line-bt {
    border-bottom: 1px solid #dcdcdc;
}

.text-overflow {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-default {
    color: #333;
}

.text-info {
    color: #666;
}

.text-muted {
    color: #999;
}

.text-white {
    color: #fff;
}

.text-link {
    color: #36b3f3;
}

.text-danger {
    color: #a51c30;
}

.text-success {
    color: #479f00;
}

.text-orange {
    color: #ff431e
}

.bg-danger {
    background: #a51c30;
}

.bg-orange {
    background: #ff431e
}

.bg-white {
    background: #fff;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}


/*weiui修改*/

.weui_cell {
    padding: 10px;
}

.flex-self-top {
    align-self: flex-start;
}

.flex-items-top {
    align-items: flex-start;
}

.weui_cell:before {
    left: 0;
}

.weui-photo-browser-modal {
    z-index: 11
}

.weui-popup-modal.opacity-popup {
    background: rgba(0, 0, 0, 0.5);
}


/*主体样式*/

#header {
    height: 45px;
    line-height: 45px;
    background: #a51c30;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#header h1 {
    position: absolute;
    width: 70%;
    left: 15%;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

#header .f-l a {
    color: #fff;
}

#header .f-l {
    margin-left: 10px;
}

#header .f-r {
    margin-right: 10px;
}

#cartBar {
    background: #fff;
    border-top: 1px solid #dcdcdc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    z-index: 1;
}

.cartBar-item {
    display: block;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    font-size: 12px;
    line-height: 1.4;
    color: #666;
}

.cartBar-item .iconfont {
    font-size: 18px;
    margin-top: 4px;
    display: inline-block;
}

.cartBar-btn {
    display: block;
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    -o-flex: 2;
    flex: 2;
    line-height: 50px;
    font-size: 18px;
}

.cartBar-item:active {
    color: #9a1629;
}

.cartBar-btn.bg-danger:active {
    background: #9a1629;
}

.cartBar-btn.bg-orange:active {
    background: #f03611;
}

#container {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    overflow: hidden;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#header~#container {
    top: 45px;
}

#cartBar~#container {
    bottom: 51px;
}


/*酒店详情*/

.slideshow {
    position: relative;
    overflow: hidden;
}

.slideshow-img {
    width: 100%;
    height: auto;
}

.slideshow .panorama {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 1.4;
}

.slideshow .panorama a {
    color: #fff;
    padding-top: 7px;
    display: inline-block;
}

.slideshow-info {
    font-size: 13px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    color: #fff;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.slideshow-info .star .iconfont {
    color: #f89d0f;
}

.slideshow-info .iconfont {
    font-size: 12px;
}

.hotel-info {
    background: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    text-align: center;
    font-size: 15px;
    padding: 12px 0;
}

.hotel-info li {
    display: block;
    white-space: nowrap;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

.hotel-info li em {
    color: #a51c30;
    font-weight: bold;
}

.hotel-info li p {
    color: #666;
}

.facilities-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.facilities-list dt {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: 10px 0;
    font-size: 15px;
}

.facilities-list dd {
    font-size: 14px;
    flex-shrink: 0;
    flex-basis: 33.333333%;
    color: #666;
}

.hotel-photo-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.hotel-photo {
    flex-shrink: 0;
    flex-basis: 50%;
    padding: 5px;
    box-sizing: border-box;
}

.hotel-photo img {
    width: 100%;
}

.hotel-photo-title .weui_navbar_item:after,
.hotel-photo-title.weui_navbar:after {
    border: 0;
}

.hotel-photo-title .weui_navbar_item.weui_bar_item_on {
    background: none;
}

.hotel-photo-title .weui_bar_item_on span {
    display: inline-block;
    border-bottom: 2px solid #a51c30;
}

.decoration-table {
    margin: 0 -15px;
}

.decoration-table table {
    width: 100%;
}

.decoration-table table th p {
    margin-bottom: 3px;
}

.decoration-line {
    border: 1px solid #dcdcdc;
    border-top-width: 0;
    height: 10px;
    width: 85%;
    margin: 0 auto 10px;
}

.pro_bable_icon {
    width: 19px;
    height: 19px;
    display: inline-block;
    background: url(http://www.eventown.com/images/pro_icon.png) no-repeat;
}

.decoration-table .t01 {
    background-position: 0 -82px;
}

.decoration-table .t02 {
    background-position: -51px -82px;
}

.decoration-table .t03 {
    background-position: -102px -82px;
}

.decoration-table .t04 {
    background-position: -154px -82px;
}

.decoration-table .t05 {
    background-position: -205px -82px;
}

.decoration-table .t06 {
    background-position: -256px -82px;
}

.decoration-more {
    display: none;
}


/*场地详情*/

.consider {
    display: inline-block;
    margin-right: -10px;
    padding: 0 10px;
    background: rgba(255, 178, 30, 0.6);
}

.combo_main {
    padding: 10px;
}

.combo_main .discount {
    background: #fa502e;
    color: #fff;
    padding: 0px 10px;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    margin-top: 4px;
    margin-left: 5px;
}

.combo_main .price {
    padding: 5px 0 10px;
}

.combo_main .time-box {
    border: 1px solid #ff0000;
    color: #ff0000;
    display: inline-block;
    padding-right: 10px;
}

.combo_main .time-box i {
    color: #fff;
    font-size: 16px;
    line-height: 1.2em;
}

.combo_main .time-box span {
    background: #ff0000;
    margin-right: 10px;
    display: inline-block;
    padding: 0 5px;
}

.combo_main .tag-box {
    clear: both;
}

.combo_main .tag-box span {
    background: #f5f5f5;
    color: #666;
    display: inline-block;
    padding: 2px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.shop-title {
    line-height: 26px;
    height: 26px;
}

.shop-title img {
    height: 20px;
    padding: 2px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    margin-right: 10px;
}

.combo-tab.weui_tab,
.combo-tab .weui_tab_bd .weui_tab_bd_item {
    height: inherit;
}

.combo-tab .weui_navbar_item.weui_bar_item_on {
    background: none;
    color: #a51c30;
}

.combo-tab .weui_navbar_item {
    font-size: 16px;
}

.combo-tab .weui_navbar_item:after {
    border: 0;
}

.combo-tab .weui_bar_item_on {
    border-bottom: 2px solid #a51c30;
}

.combo-subTitle {
    position: relative;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    margin: 5px 10px;
    white-space: nowrap;
}

.combo-subTitle:after {
    display: block;
    left: 0;
    content: '';
    position: absolute;
    width: 100%;
    top: 22px;
    border-top: 1px #dcdcdc solid;
}

.combo-subTitle h3 {
    background: #f5f5f5;
    padding: 0 20px;
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
    font-size: 16px;
    font-weight: normal;
}

.combo-subTitle h3 i {
    margin-right: 6px;
}

.combo-details-wrap {
    padding: 10px;
}

.combo-details-wrap img {
    width: 100%;
}

.combo-layer-other {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: none;
    z-index: 8;
}

.combo-layer-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fff;
    z-index: 9;
}

.combo-layer-main {
    position: relative;
    padding: 10px;
}

.combo-layer-main .combo-thumbnail {
    width: 90px;
    height: 90px;
    border-radius: 5px;
    border: 3px solid #fff;
    position: absolute;
    top: -30px;
    left: 10px;
}

.combo-layer-main .info {
    padding: 0 0 15px 110px;
    overflow: hidden;
}

.combo-layer-main .number-box {
    overflow: hidden;
    padding: 20px 0;
    line-height: 35px;
}

.hide-body {
    display: none;
}

.fix-subNav {
    height: 50px;
    line-height: 50px;
    background: #fff;
    margin: 0 auto 5px;
    font-size: 16px;
}

.fix-subNav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.fix-subNav.fixed {
    position: fixed;
    top: 44px;
    width: 100%;
    z-index: 7;
    background: #f5f5f5;
    -webkit-ransform: translate(0px, 0px)
}

.fix-subNav.fixed .btn {
    display: block;
}

.fix-subNav .btn:hover {
    background: #ee3a16;
    border-color: #e32f0c;
}

.fix-subNav li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    list-style: none;
    text-align: center;
}

.fix-subNav li a {
    display: block;
    color: #333;
}

.fix-subNav li a:hover {
    color: #a51c30;
}

.fix-subNav li a:focus {
    color: #777;
}

.fix-subNav li.active a {
    color: #000;
    border-bottom: 2px solid #a51c30;
}


/*返回顶部*/

.go-top {
    position: fixed;
    z-index: 8;
    bottom: 60px;
    right: 10px;
    width: 40px;
    height: 40px;
    line-height: 1.2em;
    text-align: center;
    border-radius: 100%;
    border: 1px solid #b7b7b7;
    display: block;
    background: #fff;
}

.go-top a {
    color: #666;
    display: inline-block;
    padding-top: 5px;
}
#loadingBar{
    height: auto;
    line-height: auto;
}

/*加减*/

.mui-numbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 150px;
    height: 35px;
    padding: 0 43px 0 43px;
    vertical-align: top;
    vertical-align: middle;
    border-radius: 3px;
    box-sizing: border-box;
    background: #fff;
}

.mui-numbox [class*=numbox-btn],
.mui-numbox [class*=btn-numbox] {
    font-size: 18px;
    font-weight: normal;
    line-height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 40px;
    height: 100%;
    padding: 0;
    color: #555;
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
}

.mui-numbox [class*=numbox-btn]:active,
.mui-numbox [class*=btn-numbox]:active {
    background-color: #ccc;
    outline: 0;
}

.mui-numbox [class*=numbox-btn]:focus,
.mui-numbox [class*=btn-numbox]:focus {
    outline: 0;
}

.mui-numbox [class*=numbox-btn][disabled],
.mui-numbox [class*=btn-numbox][disabled] {
    color: #c0c0c0;
}

.mui-numbox .mui-numbox-btn-plus,
.mui-numbox .mui-btn-numbox-plus {
    right: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.mui-numbox .mui-numbox-btn-minus,
.mui-numbox .mui-btn-numbox-minus {
    left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.mui-numbox .mui-numbox-input,
.mui-numbox .mui-input-numbox {
    display: inline-block;
    overflow: hidden;
    width: 100% !important;
    height: 100%;
    margin: 0;
    padding: 0 3px !important;
    text-align: center;
    text-overflow: ellipsis;
    word-break: normal;
    border: none !important;
    border-radius: 0 !important;
    box-sizing: border-box;
    outline: 0;
    -webkit-appearance: none;
    -webkit-user-select: text;
    line-height: 21px;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #666;
}

.mui-input-row .mui-numbox {
    float: right;
    margin: 2px 8px;
}

.weui-photo-browser-modal {
    z-index: 111
}
