@charset "UTF-8";

/**
 * 
 * @title --
 * @authors goodliang
 * @date 2016-09-19 18:31:29
 * 
 */

body {
    -webkit-overflow-scrolling: touch;
}

[v-cloak] {
    display: none;
}

input:focus,
input:focus,
button:focus,
button:focus {
    outline: 0;
}

#header .back,
#header .icon-back {
    float: left;
    padding: 0 10px;
}

#header .back i,
#header .icon-back i {
    color: #fff !important;
}


/*场地列表*/

#zoom-header {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#zoom-header~#container {
    top: 90px;
}

#container {
    background: #fff;
}

.header {
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background: #a51c30;
}

.header h1 {
    position: absolute;
    width: 50%;
    left: 25%;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
}

.header a.f-l {
    color: #fff;
}

.search-bar {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
    -webkit-transition: transform .5s;
    transition: transform .5s;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    margin: 0 -10px;
    top: 8px;
    background: #a51c30;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.search-group {
    padding: 2px 10px;
    margin-left: 10px;
    background: #FFF;
    border-radius: 20px;
    line-height: 24px;
    z-index: 6;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

.search-in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.search-input {
    line-height: 1.2;
    font-size: 14px;
    width: 90%;
    border: 0;
    margin: 4px 0;
}

.search-submit {
    float: right;
    color: #a51c30;
}

.search-remove {
    color: #fff;
    padding: 0 10px;
    line-height: 1.2
}

.header-icon-group {
    float: right;
    color: #fff;
}

.header-icon-group i {
    font-size: 20px;
    margin-left: 15px;
}

.top-form {
    background: #f4f4f4;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 5px;
    -webkit-align-items: center;
    align-items: center;
}

.filter-icon {
    color: #555;
    font-size: 28px;
    line-height: 1;
}

.input-box {
    height: 26px;
    line-height: 26px;
    padding: 3px 25px;
    margin-right: 10px;
    border: 1px solid #efefef;
    border-radius: 5px;
    background: #fff;
    position: relative;
    color: #253342;
}

.input-box .left {
    position: absolute;
    top: 3px;
    left: 5px;
    color: #a51c30;
    font-size: 14px;
}

.input-box .right {
    position: absolute;
    top: 3px;
    right: 5px;
    color: #ccc;
    font-size: 12px;
}

.top-form .city {}

.top-form .date {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    font-size: 12px;
}

.data-group {
    font-size: 12px;
    float: left;
}

.fatalism{float:right;}

.input-box.date input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 90%
}

.data-group>p {
    font-size: 11px;
    line-height: 1.3;
}

.data-group>p>span {
    color: #666;
}

.filter-btn-group {
    background: #f4f4f4;
    position: absolute;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    bottom: 0;
    height: 50px;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    z-index: 1;
}

.filter-btn-group~#container {
    bottom: 50px;
}

.filter-btn-group .weui_btn_default {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

.filter-btn-group .weui_btn_warn {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

.filter-btn-group .weui_btn {
    font-size: 16px;
}

.filter-btn-group .weui_btn + .weui_btn {
    margin: 0 0 0 10px;
}

.btn-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
}

.btn-group:before {
    top: 0;
}

.btn-group:after {
    bottom: -2px;
}

.btn-group:after,
.btn-group:before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.btn-group .btn {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    text-align: center;
    line-height: 1.2;
    padding: 8px 10px;
    color: #666;
    position: relative;
}

.btn-group .btn:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
}

.btn-group .btn:last-child:after {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-right: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
}

.btn-group .btn.acitve {
    background: #a51c30;
    color: #fff;
}

.m15 {
    margin: 5px 15px;
}


/*团房列表*/

.room-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: top;
    align-items: top;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.room-list:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    left: 100px;
}

.room-list .pic {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-right: 10px;
}

.room-list .pic img {
    height: 80px;
    border-radius: 10px;
}

.room-list .info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
}

.room-list .info h3 {
    font-size: 15px;
    color: #333;
    line-height: 1.4;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.room-list:active {
    background: #f5f5f5;
}


/*.room-body a{
    -webkit-tap-highlight-color:  inherit;
}*/

.room-list .info h3 a {
    color: #333;
}

.room-list .info .add {
    color: #999;
}

.room-list .info .des {
    color: #999;
    line-height: 1.2;
    font-size: 12px;
}

.room-list .des {
    align-self: center;
}

.room-list .tag-group span {
    border-radius: 2px;
    font-size: 10px;
    padding: 0 2px;
    line-height: 140%;
    border: 1px solid #c00;
    color: #c00;
    display: inline-block;
    margin-right: 8px;
}

.room-list .tag-group span.blue {
    color: #00adab;
    border: 1px solid #00adab;
}

.weui_tabbar.room-bar {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.weui_tabbar.room-bar a {
    color: #fff;
}

.weui_tabbar.room-bar .weui_tabbar_label {
    color: #fff;
}

.weui_tabbar.room-bar .weui_tabbar_item {
    padding: 2px 0 5px;
}

.weui_tabbar.room-bar:before {
    border-top: 0;
}

.weui_tabbar_icon + .weui_tabbar_label {
    margin-top: 0
}

.weui_tabbar.room-bar .weui_tabbar_icon {
    text-align: center;
}


/*过滤器*/

.vertical-tab {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    min-height: 300px;
    overflow: hidden;
}

.vertical-tab .tab-title>li:after {
    left: 0 !important;
}

.vertical-tab .tab-title>li.active {
    background: #f5f5f5;
}

.vertical-tab .tab-main {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    background: #f5f5f5;
}

.vertical-tab .tab-main .tab-cnt {
    display: none;
}

.vertical-tab .tab-main .tab-cnt.active {
    display: block;
}

.list-group ul {
    list-style: none
}

.item-list,
.vertical-tab .tab-title {
    overflow: hidden;
}

.item-list>li,
.vertical-tab .tab-title>li,
.list-group>ul>li {
    padding: 12px 15px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    color: #666;
    line-height: 1.2;
    text-align: left;
}

.city-list .list-group>ul>li {
    float: left;
}

.city-list .list-group>ul>li:after {
    display: none;
}

.item-list>li>i.iconfont {
    margin-right: 8px;
    font-size: 14px;
    visibility: hidden;
}

.item-list>li.active>i.iconfont {
    visibility: visible;
}

.item-list>li:after,
.vertical-tab .tab-title>li:after,
.list-group>ul>li:after {
    content: " ";
    position: absolute;
    top: -1px;
    width: 100%;
    height: 1px;
    border-top: 1px solid #d9d9d9;
    color: #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    left: 36px;
}

.search-btn {
    position: absolute;
    right: 12px;
    top: 8px;
}

.order-select-body.weui_cell_primary {
    position: relative;
}

.order-select-body i.iconfont {
    position: absolute;
    top: 0;
    right: 5px;
    color: #999;
}


/*切进动画*/

.page {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0px;
    bottom: 0;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

.page .container {
    width: 100%;
    margin-top: 45px;
    height: calc(100% - 45px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.page-next {
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    display: none;
}

.page-in {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/*城市*/

.list-group>ul>li.list-group-title {
    background: #F7F7F7;
    margin-bottom: -1px;
    padding: 10px 15px;
    white-space: nowrap;
    position: relative;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #c00;
    clear: left;
    float: none;
}

.list-group-title+.hr:after,
.hr+.cityitem:after {
    border-top: 0 !important;
}

list-group-title,
.hr {
    clear: both;
}

.list-group>ul>li:after {}

.hr {
    height: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    padding: 0 !important;
}

.list-menu {
    position: fixed;
    right: .5rem;
    top: 50px;
    z-index: 999;
}

.list-menu ol {
    background: none;
    border: none;
    list-style: none;
    margin: 0;
    padding: 2.2rem 0 0 0;
}

.list-menu li {
    text-align: center;
    color: #333333;
    font-size: .7rem;
    line-height: 1.3;
    padding: 0 5px 0 40px;
}

.list-menu li:first-child {
    font-size: inherit;
    line-height: inherit;
    margin-top: 1rem;
    display: none;
}

.list-menu ol:before {
    background-color: none
}

.weui-popup-overlay {
    background: #333;
    opacity: .8
}
